In [28]:
import pandas as pd
import numpy as np
import joblib
import os
from sklearn.ensemble import RandomForestClassifier

In [30]:
# Load Model and LabelEncoder
model = joblib.load(r'Model/rfc.pickle')
encoder = joblib.load(r'Encoder/le.pickle')

In [32]:
import pandas as pd

print('Enter the Information for Loan Approval\n')
Gender = input('Gender (Male/Female): ')
Married = input('Married (Yes/No): ')
Dependents = input('Dependents: ')
Education = input('Education (Graduate/Not Graduate): ')
Self_Employed = input('Self Employed (Yes/No): ')
Credit_History = float(input('Credit History (0/1): '))  # Convert to float
Property_Area = input('Property Area (Rural/Urban): ')
ApplicantIncome = int(input('Applicant Income: '))
CoapplicantIncome = int(input('Coapplicant Income: '))
LoanAmount = float(input('Loan Amount: '))  # Convert to float
LoanAmountTerm = float(input('Loan Amount Term (in months): '))  # Convert to float

#Creating a new Feature
TotalIncome = ApplicantIncome + CoapplicantIncome

#Applying Log Transform
ApplicantIncomeLog = np.log(1+ ApplicantIncome)
LoanAmountLog = np.log(1+LoanAmount)
LoanAmountTermLog = np.log(1+LoanAmountTerm)
TotalIncomeLog = np.log(1+TotalIncome)

# Create a DataFrame for the new loan record
NewLoanRecordFeatures = pd.DataFrame([{
    'Gender': Gender,
    'Married': Married,
    'Dependents': Dependents,
    'Education': Education,
    'Self_Employed': Self_Employed,
    'Credit_History': Credit_History,
    'Property_Area': Property_Area,
    'ApplicantIncomeLog': ApplicantIncomeLog,
    'LoanAmountLog': LoanAmount,
    'Loan_Amount_Term_log': LoanAmountTermLog,
    'Total_Income_log': TotalIncomeLog
}])

NewLoanRecordFeatures.head()

Enter the Information for Loan Approval

Gender (Male/Female):  Male
Married (Yes/No):  Yes
Dependents:  0
Education (Graduate/Not Graduate):  Not Graduate
Self Employed (Yes/No):  No
Credit History (0/1):  1
Property Area (Rural/Urban):  Urban
Applicant Income:  2583
Coapplicant Income:  2358
Loan Amount:  120
Loan Amount Term (in months):  360

,Gender,Married,Dependents,Education,Self_Employed,Credit_History,Property_Area,ApplicantIncomeLog,LoanAmountLog,Loan_Amount_Term_log,Total_Income_log
0,Male,Yes,0,Not Graduate,No,1.0,Urban,7.857094,120.0,5.888878,8.505525

In [18]:
NewLoanRecordFeatures.dtypes

Gender                    int32
Married                   int32
Dependents                int32
Education                 int32
Self_Employed             int32
Credit_History          float64
Property_Area             int32
ApplicantIncomeLog      float64
LoanAmountLog           float64
Loan_Amount_Term_log    float64
Total_Income_log        float64
LoanStatus                int32
dtype: object

In [34]:
cols = ['Gender','Married','Education','Dependents','Self_Employed','Property_Area']
for col in cols:
  NewLoanRecordFeatures[col] =  encoder.fit_transform(NewLoanRecordFeatures[col])

In [36]:
NewLoanRecordFeatures.head()

,Gender,Married,Dependents,Education,Self_Employed,Credit_History,Property_Area,ApplicantIncomeLog,LoanAmountLog,Loan_Amount_Term_log,Total_Income_log
0,0,0,0,0,0,1.0,0,7.857094,120.0,5.888878,8.505525

In [38]:
NewLoanRecordFeatures = NewLoanRecordFeatures[model.feature_names_in_]
NewPrediction = model.predict(NewLoanRecordFeatures)
NewLoanRecordFeatures['LoanStatus'] = NewPrediction
NewLoanRecordFeatures.head()

,Gender,Married,Dependents,Education,Self_Employed,Credit_History,Property_Area,ApplicantIncomeLog,LoanAmountLog,Loan_Amount_Term_log,Total_Income_log,LoanStatus
0,0,0,0,0,0,1.0,0,7.857094,120.0,5.888878,8.505525,0